:root {
    --green-color: rgb(98, 211, 149)
}

.label-link{
    float: right;
}
.right-0 {
    right: 0 !important;
}

.top-0{
    top: 0 !important
}

.position-absolute{
    position: absolute !important;
}

#labelLink{
    color : var(--green-color)
}

#buttonLogin{
    background-color: var(--green-color) !important;
    border-style: none !important;
}